services:
  tide_api:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:PASSWORD@tide_postgres:5432/tide_db
      - REDIS_URL=redis://tide_redis:6379
      - MODEL_CHECKPOINT_PATH=/app/ml/checkpoints/full_checkpoint2.pth
    depends_on:
      - tide_postgres
      - tide_redis

  tide_postgres:
    image: postgis/postgis:15-3.3
    environment:
      - POSTGRES_PASSWORD=PASSWORD
      - POSTGRES_DB=tide_db
    ports:
      - "5432:5432"

  tide_redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  tide_ingestion:
    build:
      context: ./ingestion
    depends_on:
      - tide_api
      - tide_postgres
